# 依赖目录
node_modules/
client/node_modules/
server/node_modules/

# 构建产物
dist/
client/dist/
server/dist/

# 环境变量
.env
.env.*
server/.env
server/.env.*
client/.env
client/.env.*

# 日志文件
logs/
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器和系统文件
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
